.transHistory{
    display: flex;
    border: 1px solid rgba(240, 57, 173, 0.372);
flex-direction: column;
}
tbody{
    background-color: rgba(242, 148, 217, 0.129);
}
tr{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(240, 57, 173, 0.372);

}
td{
   width: 200px;
   margin-left: 20px;
   color: rgb(84, 36, 25);
}

th{
    color: rgb(148, 10, 102);
}